{% extends "base.html" %}
{% block title %} Topics {% endblock %}

{% block content %}
<div class="container">
    <h2>Topics</h2>
    <ul class="list-group">
        {% for topic in topics %}
        <li class="list-group-item">
            <h4>{{ topic.name }}</h4>
            <ul>
                {% for comment in topic.comment_set.all %}
                <li>{{ comment.body }} - {{ comment.user.username }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}